<!doctype html>
<head>
    <title>Active Learning</title>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/jquery/popper.min.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/bootstrap.min.js"></script>

    <!--<script src="https://kit.fontawesome.com/208e7c3453.js" crossorigin="anonymous"></script>-->


    <style>
        .loading {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            font-weight: bold;
            text-align:center;
        }

        .concept {
            width: 340px;
            margin: 5px;
            float: left;
        }

        .chooseLabelLink, .distrib {
            color:#000 !important;
        }

        .wikiButton {
            padding:0;
        }

        .concept .input-group-text {
            width: 220px;
            font-size: 0.8em;
        }
        .concept button {
            font-size: 0.8em;
        }
        .concept button.addConceptButton {
            font-size: 0.8em;
        }
        .concept .id {
            margin-left: 8px;
            overflow: hidden;
        }

        .card {
            margin: 20px 0;
            text-align:center;
        }

        #train {
            display: none;
        }
        #train .card-text {
            font-size:0.9em;
        }

        .tooltip{
            font-size: 0.7em;
        }

        .changeConceptButton, .buildModel {
            display:none ;
        }

        #search-results, #selected-concepts {
            visibility:hidden
        }

        .vsmall {
            font-size:0.6em;
            padding-left:10px;
        }
        #train-new .card-text {
            overflow:scroll;
        }
        table{
            text-align:left;
            font-size: 0.7em;

        }

    </style>
    <script>
        var PROXYURL = window.location.origin+'/'
        var SELECTED_CONCEPTS = {}
        var UNIQUE_LABEL = []
        var COLORS = ['#b3cde3', '#fbb4ae', '#ccebc5', '#decbe4', '#fed9a6', '#ffffcc','#b3cde3', '#fbb4ae', '#ccebc5', '#decbe4', '#fed9a6', '#ffffcc','#b3cde3', '#fbb4ae', '#ccebc5', '#decbe4', '#fed9a6', '#ffffcc']
        var CURRENT_QUESTION = null

        $(document).ready(function () {
            $('.loading').hide();
            $.ajaxSetup({
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            });


            // Listener for adding a concept
            $(document).on('click', '.addConceptButton', function () {
                label = prompt('Label?')
                if (label) addLabel($(this).parent(), label)

            });

            // Listener for changing a concept
            $(document).on('click', '.change-phase1', function () {
                changeLabel($(this).parent().parent().parent(), $(this).html())
            });


            $(document).on('click', '.wikiButton', function () {
                $('[data-bs-toggle="tooltip"]').tooltip('hide');
                window.open('https://en.wikipedia.org/?title='+$(this).parent().find('.pageName').html());
                return false;
            });

            // Listener for search
            $(".search-input").on('keyup', function (e) {
                if (e.key === 'Enter' || e.keyCode === 13) { searchConcepts() }
            });
            $(".search-button").on('click', function (e) {
                searchConcepts()
            });

            $(".buildModel").on('click', function (e) {
                $('.loading').show();
                buildModel()
            });

            // listener for switch tab
            $(function () {
                $('.nav-link').on('click', function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                })
            });


            $(document).on('click', '.chooseLabelLink', function () {
                answer_question(this)
            });

            // Listener for file
            $('#formFile').change(function(event){
                var fileReader = new FileReader();
                fileReader.onload = function(event) {
                    show_upload_model_interface();
                    d = JSON.parse(event.target.result)
                    CURRENT_QUESTION = d
                    next_question(d)
                }
                var file = event.target.files[0];
                fileReader.readAsText(file);
            })

            //Add tooltip
            $('body').tooltip({
                selector: '[data-bs-toggle="tooltip"]'
            });
        });

        function changeLabel(element, newLabel) {
            if (CURRENT_QUESTION == null)
                color = COLORS[UNIQUE_LABEL.indexOf(newLabel)]
            else
                color = CURRENT_QUESTION['color_mapping'][newLabel]
            element.find('.changeConceptButton').css('background-color',color)
            element.find('.changeConceptButton').html(newLabel)

            indexid = element.find('input[name="indexid"]').val()
            // Phase 1: Selecting labels
            if (CURRENT_QUESTION == null) {
                SELECTED_CONCEPTS[indexid]['label'] = newLabel
            }
            // Phase 2: training models
            else {
                // The records is not arealdy in the training
                if (CURRENT_QUESTION['training_annotations'][indexid]==undefined) {
                    CURRENT_QUESTION['training_annotations'][indexid] = CURRENT_QUESTION['samples_prediction'][indexid]
                }

                CURRENT_QUESTION['training_annotations'][indexid]['label'] = newLabel

                submit_update()
            }
        }

        function addLabel(element, label) {
            if (!UNIQUE_LABEL.includes(label)) {
                UNIQUE_LABEL.push(label)
            }

            $('#selected-concepts').css('visibility','visible');


            var indexid = element.find('input[name="indexid"]').val()
            var id = element.find('input[name="id"]').val()
            var text = element.find('input[name="text"]').val()
            var color = COLORS[UNIQUE_LABEL.indexOf(label)]
            console.log(element, indexid, 'indexid')
            SELECTED_CONCEPTS[indexid] = {
                'indexid':indexid,
                'id':id,
                'text':text,
                'label':label,
            }


            element.find('.changeConceptButton').css('background-color',color)

            element.find('.addConceptButton').hide()
            element.find('.changeConceptButton').show().html(label)

            // Move element
            element.prependTo("#selected-concepts-content");

            // updateLabelDropdown
            $('.changeLabel').html("")
            for (i in UNIQUE_LABEL) {
                $('.changeLabel').append('<li><a class="dropdown-item change-phase1" href="#">'+UNIQUE_LABEL[i]+'</a></li>')
            }

            if (Object.keys(SELECTED_CONCEPTS).length >= 2) {
                $('.buildModel').show()
            }
        }

        function answer_question(e) {
            label = $(e).html()
            c = CURRENT_QUESTION['next_question']
            CURRENT_QUESTION['training_annotations'][c['indexid']] = {
                "indexid": c['indexid'],
                "id": c['id'],
                "text": c['text'],
                "label": label
            }
            submit_update();
        }
        function submit_update() {
            $('.loading').show();
            data = {
                'training_annotations': JSON.stringify(CURRENT_QUESTION['training_annotations']),
                'test_annotations': JSON.stringify(CURRENT_QUESTION['test_annotations']),
                'description': CURRENT_QUESTION['description'],
                'color_mapping': JSON.stringify(CURRENT_QUESTION['color_mapping']),
            }
            $.post( PROXYURL + "train", JSON.stringify(data), function( response ) {
                CURRENT_QUESTION = response
                download(CURRENT_QUESTION['description'], JSON.stringify(response, null, 4));
                next_question(response)
                $('.loading').hide();
            }, "json");
        }

        function next_question(d) {
            $('#wiki-concept-name').html(d['next_question']['id'])
            if (d['next_question']['text'].length>420) $('#wiki-concept-text').html(d['next_question']['text'].slice(0,420)+'...')
            else  $('#wiki-concept-text').html(d['next_question']['text'])

            $('#wiki-concept-label').html("")
            const labels = Object.keys(d['color_mapping']);
            const colors = Object.values(d['color_mapping']);
            $('#wiki-concept-label').append('<div class="text-muted mr-3">Label? </div>')
            text = '<span class="badge badge-light">Label</span>'
            text = '<div class="btn-group btn-group-lg">'

            for (u in labels) {
                if (labels[u] != 'Uncertain')
                    text += '<a href="#" class="btn btn-primary chooseLabelLink btn-outline-light" style="width:120px; height:45px; overflow:hidden; background-color:'+colors[u]+'">'+labels[u]+'</a>'
                //$('#wiki-concept-label').append('<a href="#" class="chooseLabelLink btn" >'+labels[u]+'</a>')
            }
            text += '</div>'
            $('#wiki-concept-label').append(text)



            $('#distributions-c').html("")
            const dname = Object.keys(d['distrib']);
            const dscore = Object.values(d['distrib']);
            for (i in dname) {

                c = d['color_mapping'][dname[i]]
                u = ''
                u += '<div class="col">'
                fs = Math.log(((dscore[i])+1))+1
                console.log(fs)
                u += '  <h4 class="mb-0"><span class="badge text-bg-light distrib" style="background-color:'+c+'!important;font-size:'+fs+'em">'+Math.round(dscore[i]*100000)/1000+'%</span></h4>'
                u += '  <p class="lead mb-0">'+dname[i]+'</p>'
                u += '</div>'

                $('#distributions-c').append(u)
            }


            $("#n-training").html(Object.keys(d['training_annotations']).length)
            $("#n-testing").html(Object.keys(d['test_annotations']).length)

            // Training
            trainings = Object.values(d['training_annotations'])
            $("#training-content").html("")

            // Showing by label
            for (const label in CURRENT_QUESTION['color_mapping']) {
                if (label != 'Uncertain') {
                    $("#training-content").append('<div class="clearfix"></div><hr style="border-top: 1px solid #a9a9a9;"><h5 class="mt-2">'+label+'</h5>')
                    for (i in trainings) {
                        color = CURRENT_QUESTION['color_mapping'][label]
                        if (label === trainings[i]['label']) {

                            $("#training-content").append(createConceptCard(trainings[i]))
                            element = $("#training-content .concept").last()
                            color = d['color_mapping'][label]
                            element.find('.changeConceptButton').css('background-color',color)
                            element.find('.addConceptButton').hide()
                            element.find('.changeConceptButton').show().html(label)
                        }
                    }
                }
            }




            // Samples
            samples = Object.values(d['samples_prediction'])
            $("#samples-content").html("")
            // Showing by label
            for (const label in CURRENT_QUESTION['color_mapping']) {
                $("#samples-content").append('<div class="clearfix"></div><hr style="border-top: 1px solid #a9a9a9;"><h5 class="mt-2">'+label+'</h5>')
                for (i in samples) {
                    color = CURRENT_QUESTION['color_mapping'][label]
                    if (label === samples[i]['label']) {

                        $("#samples-content").append(createConceptCard(samples[i]))
                        element = $("#samples-content .concept").last()
                        color = d['color_mapping'][label]
                        element.find('.changeConceptButton').css('background-color',color)
                        element.find('.addConceptButton').hide()
                        element.find('.changeConceptButton').show().html(label)
                    }
                }
            }

            // updateLabelDropdown
                $('.changeLabel').html("")
                const keys = Object.keys(d['color_mapping']);
                for (i in keys) {
                    if (keys[i] != 'Uncertain')
                        $('.changeLabel').append('<li><a class="dropdown-item change-phase1" href="#">'+keys[i]+'</a></li>')
                }

        }

        function searchConcepts() {
            $('#search-results').css('visibility','visible');

            // Show loading...
            $('#search-results-content').html(createSpinner());

            console.log({q:$('.search-input').val()})
            //step 1: empty #search-results
            $.post( PROXYURL + "search", JSON.stringify({q:$('.search-input').val()}), function( response ) {

                $('#search-results-content').html("");
                if (response == []) {
                    $('#search-results-content').append('no result')
                }
                else {
                    for (l in response) {
                        // Only add the concept if not already here
                        if (SELECTED_CONCEPTS[response[l]['indexid']] === undefined) {
                            $('#search-results-content').append(createConceptCard(response[l]))
                        }
                    }
                }
            }, "json");
        }
        function buildModel() {
            tot = Object.keys(SELECTED_CONCEPTS).length

            color_mapping = {'Uncertain':'#ccc'}
            for (u in UNIQUE_LABEL) {
                color_mapping[UNIQUE_LABEL[u]] = COLORS[u]
            }

            data = {
                'selected_concepts':JSON.stringify(SELECTED_CONCEPTS),
                'description':'',
                'color_mapping':JSON.stringify(color_mapping),
            }
            $.post( PROXYURL + "build", JSON.stringify(data), function( response ) {
                CURRENT_QUESTION = response
                download('model.json', JSON.stringify(response, null, 4));
                //wiki-concept-name
                show_upload_model_interface();
                next_question(response)
                $('.loading').hide();
            }, "json");
        }

        function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }
        function createConceptCard(row) {

            o = ''
            o += ' <div class="input-group concept">';
            o += '    <div class="description input-group-text" data-bs-toggle="tooltip" data-bs-html="true" ';
            o += '          title="<b>'+escape(row['id'])+'.</b> '+truncate(escape(row['text']),200)+' ">';
            o += '         <button type="button" class="btn btn-light btn-sm wikiButton"><i class="fa-brands fa-wikipedia-w"></i></button> <span class="pageName id">'+escape(row['id'])+'</span>'; //
            o += ' ';
            o += '         <!-- Hidden info -->';
            o += '         <input type="hidden" name="id" value="'+escape(row['id'])+'" />';
            o += '         <input type="hidden" name="indexid" value="'+row['indexid']+'" />';
            o += '         <input type="hidden" name="text" value="'+row['text']+'" />';
            o += '     </div>';

            o += '     <!-- Option 1-->';
            o += '     <button type="button" class="addConceptButton btn btn-secondary">';
            o += '         <i class="fa-solid fa-plus"></i>';
            o += '     </button>';
            o += '     <!-- Option 2-->';
            o += '    <button class="changeConceptButton btn btn-secondary-outline dropdown-toggle" type="button"';
            o += '             data-bs-toggle="dropdown" aria-expanded="false">';
            o += '     </button>';
            o += '     <ul class="dropdown-menu changeLabel">';
            // Here the dropdown
            o += '    </ul>';
            o += '</div>';
            return o
        }
        function createSpinner() {
            o = ''
            o += '<div class="spinner-border" role="status">';
            o += '';
            o += '</div>';
            return o;
        }
        function truncate(str, length) {
            return str.length > length
                ? str.slice(0, length) + '...'
                : str;
        }
        function escape(txt) {
            return txt.replace(/['"]+/g, '')
        }

        function show_upload_model_interface() {
            $('#search-results-content').html("");
            $('#selected-concepts-content').html("");
            $('#build').hide();
            $('#train').show();
        }


    </script>

</head>
<html>
   <body>
    <div class="loading">
        <div>
            <h1>Active Learning</h1>
            <hr>
            <p>
                <i class="fa-solid fa-bullseye fa-beat-fade"></i>
            </p>
        </div>
    </div>
    <!-- As a link -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa-solid fa-bullseye"></i> Active Learning</a>
            <form class="d-flex" role="search">
                <label for="formFile" class="btn btn-primary"><i class="fa-solid fa-upload"></i> Upload a model</label>
                <input type="file" id="formFile"  style="display:none">
            </form>

        </div>
    </nav>
    <div class="container" id="build">
        <div class="row mt-3">
            <div class="col">

                <div class="alert alert-dark alert-dismissible fade show" role="alert">
                    <h5>Initial Set</h5>
                  Add a few concepts from each class to build the initial model.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>


                <div class="input-group">
                    <input type="text" class="search-input form-control" placeholder="Searching for a concept"
                           aria-label="Searching for a concept" aria-describedby="button-addon2">
                    <button class="btn btn-primary search-button" type="button">Search</button>
                </div>

                <div class="card" id="search-results">
                    <h5 class="card-header">Search results</h5>
                    <div class="card-body">
                        <div id="search-results-content">

                            <!--      Research results goes here  -->

                        </div>
                    </div>
                </div>

                <div class="card" id="selected-concepts">
                    <h5 class="card-header">Selected Concepts</h5>
                    <div class="card-body">
                        <div id="selected-concepts-content">

                            <!-- Insert here-->

                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-grid gap-2">
                    <button class="buildModel btn btn-primary" type="button">Build Model</button>
                </div>
            </div>

        </div>

    </div>



    <div class="container" id="train" style="text-align:center">
        <div class="row mt-3 align-items-center" >
            <div class="col-md-8 mx-auto my-auto" id="train-new">

                <div class="card mt-5" >
                    <div class="card-body">
                        <h5 class="card-title mt-3 mb-3"><button type="button" class="btn btn-light btn-sm wikiButton"><i class="fa-brands fa-wikipedia-w"></i></button> <span id="wiki-concept-name" class="pageName">Machine Learning</span></h5>
                        <p class="card-text"><span id="wiki-concept-text">Lorem</span></p>
                        <div id="wiki-concept-label">
                            <a href="#" class="btn btn-primary">Button</a>
                            <a href="#" class="btn btn-primary">Button 2</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 align-items-center">
            <div class="col-md-12 mx-auto my-auto">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col-sm-2">
                                <h5 class="card-title mt-1 mb-0">Model</h5>
                            </div>
                            <div class="col-sm-10">
                                <ul class="nav nav-tabs card-header-tabs float-right" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="distribution-tab" data-toggle="tab" href="#distributions" role="tab" aria-controls="distributions" aria-selected="true"><i class="fa-solid fa-chart-simple"></i> Distributions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="sample-tab" data-toggle="tab" href="#samples" role="tab" aria-controls="samples" aria-selected="false"><i class="fa-solid fa-wand-magic-sparkles"></i> Samples</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="training-tab" data-toggle="tab" href="#training" role="tab" aria-controls="training" aria-selected="false"><i class="fa-solid fa-graduation-cap"></i> Training <span class="badge text-bg-secondary" id="n-training">10</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body mt-3">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="distributions" role="tabpanel" aria-labelledby="distribution-tab">
                                <div class="row" id="distributions-c">

                                </div>
                            </div>
                            <div class="tab-pane fade" id="samples" role="tabpanel" aria-labelledby="sample-tab">
                                 <div class="alert alert-dark alert-dismissible fade show" role="alert">
                                  These are some examples of what the current model predicts.
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div id="samples-content">

                                </div>
                            </div>
                            <div class="tab-pane fade mx-auto" id="training" role="tabpanel" aria-labelledby="sample-tab">
                                <div class="alert alert-dark alert-dismissible fade show" role="alert">
                                  These concepts are the ones provided to the model during the training phase.
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div id="training-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </body>
</html>